
##################################
# Build output
##################################
bin/
obj/

##################################
# VS and user-specific files
##################################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

##################################
# Environment settings and secrets
##################################
launchSettings.json
appsettings.Development.json
.env

##################################
# Rider/VS Code (optional, if used)
##################################
.idea/
.vscode/
*.code-workspace

##################################
# Logs
##################################
*.log

